body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100vh;
  flex-direction: column;
}
#play-button {
  height: 200px;
  width: 200px;
  background: blue;
  color: white;
  border-radius: 50%;
  font-size: 60px;
  cursor: pointer;
  position: absolute;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: background 250ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#play-button:hover {
  background: rgb(9, 9, 121);
}
#play-button:focus {
  box-shadow: 0 0 3pt 2pt blue;
}
.tv-show-message {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 60px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .tv-show-message {
    top: 5px;
  }
}
